.doitNowSection {
  width: 100%;
  background: var(--purple);
}

.container {
  display: flex;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 66px 80px;
    gap: 235px;
    flex-direction: row;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 28px;
    width: 532px;
  }
}

.inputWrapper {
  display: flex;
  width: 343px;
  flex-wrap: wrap;
}

@media screen and (min-width: 1440px) {
  .inputWrapper {
    display: flex;
    width: 522px;
    position: relative;
  }
}

.form {
  position: relative;
  width: 100%;
}

.input {
  border-radius: 8px;
  width: 100%;
  height: 60px;
  padding: 4px 150px 4px 16px;
  background: #4a3bb3;
  color: var(--white);
  border: none;
  outline: none;
  font-size: 20px;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.34;
}

.input:hover,
.input:focus {
  border-color: var(--q);
  box-shadow: 0 0 8px rgba(157, 230, 247, 0.5);
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #201a4f inset;
  -webkit-text-fill-color: var(--white);
}

.btn {
  border: 1px solid var(--q);
  box-shadow: 0 0 4px 0 var(--q);
  background: var(--q);
  border-radius: 4px;
  padding: 16px 24px;
  position: relative;
  width: 100%;
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #030718;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 230px;
    height: 52px;
    margin-top: 0;
  }
}

.btn:hover {
  background: rgba(87, 225, 255, 0.2);
  color: var(--q);
}
