.heroSection {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 16px;
  height: auto;
  align-items: flex-start;
  margin-top: 40px;
}

@media screen and (min-width: 1440px) {
  .heroSection {
    max-width: 1440px;
    flex-direction: row;
    padding: 164px 80px 134px 80px;
    margin: 0 auto;
  }
}

.content {
  margin-right: 0;
  margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
  .content {
    margin-right: 128px;
  }
}

.imgage {
  width: 300px;
  height: 134px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .imgage {
    width: 469px;
    height: 209px;
  }
}

.title {
  width: 343px;
  height: auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 35px;
  line-height: 126%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 12px;
}

@media screen and (min-width: 1440px) {
  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    width: 630px;
    height: 216px;
  }
}

.text {
  width: 100%;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #e7f7f8;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .text {
    width: 565px;
    height: 40px;
  }
}

.form {
  position: relative;
  width: 100%;
}

.inputWrapper {
  display: flex;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .inputWrapper {
    width: 500px;
  }
}

.input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 8px;
  padding: 4px 150px 4px 16px;
  background: #201a4f;
  margin-bottom: 12px;
  color: var(--white);
  border: none;
  outline: none;
}

@media screen and (min-width: 1440px) {
  .input {
    width: 500px;
    height: 60px;
    padding: 4px 100px 4px 16px;
    font-size: 20px;
  }
}

.input:hover,
.input:focus {
  border-color: var(--q);
  box-shadow: 0 0 8px rgba(157, 230, 247, 0.5);
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.34;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #201a4f inset;
  -webkit-text-fill-color: var(--white);
}

.btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid var(--q);
  border-radius: 4px;
  width: 100px;
  padding: 12px;
  height: 42px;

  box-shadow: 0 0 4px 0 var(--q);
  background: var(--q);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #030718;
  cursor: pointer;
}

.formText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--white);
  opacity: 0.3;
}

.btn:hover {
  background: rgba(87, 225, 255, 0.2);
  color: var(--q);
}

@media screen and (min-width: 1440px) {
  .btn {
    padding: 16px 24px;
    width: 109px;
    height: 52px;
  }
}
