.dealsSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.container {
  padding: 96px 0 148px;
}

.content {
  margin-bottom: 72px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 127%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 4px;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: #35ff9e;
  opacity: 0.9;
}

.list {
  display: flex;
  gap: 20px;
}

.item {
}

.card {
  position: relative;
  width: 299px;
  height: 208px;
  background: var(--purple);
  border-radius: 4px;
  clip-path: polygon(
    0 0,
    /* лівий верх */ 85% 0,
    /* зсунутий правий верх */ 100% 20%,
    /* зріз */ 100% 100%,
    0 100%
  );
}

.itemContainer {
  padding: 16px 16px 13px 16px;
}

.itemContent1 {
  display: flex;
  gap: 2px;
  align-items: flex-start;
  flex-direction: column;
}

.itemContent2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
  gap: 2px;
}

.itemContent3 {
  display: flex;
  justify-content: space-between;
}

.itemText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
}

.itemInfo {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--white);
  opacity: 0.4;
  margin-bottom: 48px;
}

.span {
  font-weight: 400;
}

.itemProfit {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0/7;
}

.itemNumber {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #35ff9e;
}

.itemTarget {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--white);
  opacity: 0.7;
}

.itemData {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--white);
  opacity: 0.4;
}

.iconElips {
  border-radius: 100%;
  fill: #35ff9e;
  width: 7px;
  height: 7px;
  padding-right: 4px;
}

.iconVector {
  width: 11px;
  height: 18px;
  stroke-width: 2px;
  stroke: #35ff9e;
  padding-left: 6px;
}

.icon {
  position: absolute;
  top: 8px;
  right: -41px;
  width: 162px;
  height: 160px;
  fill: #000001;
  opacity: 0.2;
}
