.footerSection {
  flex-direction: column;
  padding: 40px 42px 25px 16px;
  height: auto;
  gap: 24px;
  align-items: flex-start;
}

@media screen and (min-width: 1440px) {
  .footerSection {
    display: flex;
    max-width: 1440px;
    height: 353px;
    margin: 0 auto;
    padding: 0 80px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    padding: 28px 0 35px;
    height: 100%;
  }
}

.stick {
  width: 375px;
  height: 1px;
  background: var(--white);
  opacity: 0.3;
}

@media screen and (min-width: 1440px) {
  .stick {
    width: 348px;
    height: 1px;
    background: var(--white);
    opacity: 0.3;
    transform: rotate(90deg) translateX(2px);
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.5;
}

.logoIcon {
  width: 165px;
  height: 64px;
  margin-bottom: 81px;
}

@media screen and (min-width: 1440px) {
  .logoIcon {
    width: 132px;
    height: 64px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  opacity: 0.7;
  height: auto;
}

@media screen and (min-width: 1440px) {
  .linksContainer {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: row;
    width: 693px;
    height: 17px;
    opacity: 0.7;
  }
}

.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 121%;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .link {
    font-size: 14px;
  }
}

.link:hover {
  color: var(--q);
}

.footerText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--white);
  opacity: 0.5;
}

@media screen and (min-width: 1440px) {
  .footerText {
    width: 244px;
  }
}

.firstElem {
  display: flex;
  align-items: flex-start;
  gap: 74px;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .firstElem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
}

.secondElem {
  margin-top: 57px;
  margin-bottom: 20px;
  margin-left: -17px;
}

@media screen and (min-width: 1440px) {
  .secondElem {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -0;
    display: flex;
    align-items: center;
  }
}

.thirdElem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
