.questionSection {
}

.wrapper {
  background: var(--white);
}

.container {
  padding: 32px 16px;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 297px;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 127%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 44px;
    margin-bottom: 64px;
  }
}

.questionWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 1440px) {
  .questionWrapper {
    gap: 32px;
  }
}

.wrapperContent {
  border-radius: 4px;
  padding: 16px;
  width: 846px;
  height: auto;
  background: #eaeff0;
}

.divWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperTitle {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 133%;
  letter-spacing: -0.04em;
  color: #030718;
  font-size: 20px;
}

@media screen and (min-width: 1440px) {
  .wrapperTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #030718;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  opacity: 0.8;
}

.vectorIcon {
  width: 24px;
  height: 24px;
  stroke-width: 1.4px;
  stroke: #030718;
  fill: none;
  flex-shrink: 0;
}

/* TODO IF TEXT OPEN */

.wrapperContentOpen {
  border-radius: 4px;
  padding: 16px;
  width: 846px;
  height: auto;
  background: var(--purple);
}

.wrappeTitleOpen {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 133%;
  letter-spacing: -0.04em;
  margin-bottom: 12px;
  color: var(--white);
}

@media screen and (min-width: 1440px) {
  .wrappeTitleOpen {
    font-size: 24px;
  }
}
