:root {
  --white: #ffffff;
  --purple: #6a54ff;
  --q: #57e1ff;
  --font-family: 'Inter', sans-serif;
}

body {
  background-color: #030718;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  border-style: none;
}
