.tradebladeItSection {
  padding: 0 16px;
}

@media screen and (min-width: 1440px) {
  .tradebladeItSection {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
  }
}

.container {
  padding: 96px 0 86px;
  display: flex;
  flex-direction: column;
  padding-top: 236px;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 96px 0 86px;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .content:nth-child(1) {
    margin-bottom: 72px;
  }

  .content:nth-child(2) {
    margin-bottom: 56px;
  }

  .content:nth-child(3) {
    margin-bottom: 116px;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 127%;

  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .title {
    margin-right: 128px;
    font-size: 44px;
    margin-bottom: 0;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 1440px) {
  .contentContainer {
    flex-wrap: wrap;
    column-gap: 21px;
    flex-direction: row;
    row-gap: 0;
  }
}

.content {
  width: 100%;
  display: flex;
  gap: 32px;
}

@media screen and (min-width: 1440px) {
  .content {
    width: 414px;
    height: auto;
    display: flex;
    gap: 32px;
  }
}

.tradebladeItIcon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.wrapper {
  width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 325px;
    height: auto;
  }
}

.contentTitle {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: var(--white);
  font-size: 20px;
}

@media screen and (min-width: 1440px) {
  .contentTitle {
    font-size: 28px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: var(--white);
  opacity: 0.8;
  width: 255px;
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .tradebladeItSection {
    padding: 0 20px;
  }

  .container {
    padding: 96px 0 86px;
    display: flex;
    flex-direction: column;
    padding-top: 236px;
  }
}
