.tradebladeItSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.container {
  padding: 96px 0 86px;
  display: flex;
}

.content:nth-child(1) {
  margin-bottom: 72px;
}

.content:nth-child(2) {
  margin-bottom: 56px;
}

.content:nth-child(3) {
  margin-bottom: 116px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 44px;
  line-height: 127%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
  margin-right: 128px;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
}

.content {
  width: 414px;
  height: auto;
  display: flex;
  gap: 32px;
}

.tradebladeItIcon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.wrapper {
  width: 325px;
  height: auto;
}

.contentTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: -0.04em;
  color: var(--white);
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  opacity: 0.8;
  width: 324px;
}

@media (max-width: 768px) {
  .tradebladeItSection {
    padding: 0 20px;
  }

  .contentContainer {
    flex-direction: column;
    gap: 24px;
  }
  .container {
    padding: 96px 0 86px;
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 100%;
    flex-direction: column;
    gap: 16px;
  }

  .wrapper {
    width: 100%;
  }

  .title {
    font-size: 32px;
    margin-right: 0;
  }

  .contentTitle {
    font-size: 24px;
  }

  .text {
    width: 100%;
    font-size: 14px;
  }

  .tradebladeItIcon {
    width: 48px;
    height: 48px;
  }
}
